* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
  }

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.main-image{
    background-image:url(img/japan-2014619_1920.jpg);
    height:800px;
}

.name{
    color:#ffffff;
    font-size:60px;
    margin-left:60px;
    position:relative;
    top:50%;
}

.sub-title{
  text-align:center;
  line-height:200px;

}

.menu{
  float:right;
  position:relative;
  top:30%;
  right:100px;
}

.link{
    color:#ffffff;
    font-size:60px;
}


.contents-box{
  height:650px;
  margin:50 100px;
}

.work-box{
  height:300px;
  width:300px;
  border:solid;
  float:left;
}

.skill-box{
  width:150px;
  height:150px;
  border:solid;
  float:left;
}

.ill{
  background-image:url(img/illustratoricon.png);
  background-position: center center;
  object-fit: contain;
  height:auto;
}

footer{
  background-color:#000000;
  height:80px;
}